
</html>
<!DOCTYPE html>
<html lang="fr">
    <head>
	<title>Ciao.ch</title>
	<meta charset="utf-8">
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/jsonStorage.js"></script>
	   <script src="../assets/js/packJs.php"></script>
       <link rel="stylesheet" href="../assets/css/materialize.css">
       <link rel="stylesheet" href="../assets/css/main.css">
	

    </head>
    <body>
		<section id ="news">
                    
		</section>
    </body>
</html>

