<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>Ciao.ch</title>
    <meta charset="utf-8">
    <script src="assets/js/packJs.php"></script>
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <link rel="stylesheet" href="../assets/css/main.css">
     <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header class="row">

             <nav class="col s8">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img class="logo"src="../assets/img/logo_ciao_rvb.png"> <h5 class="donde">Sexualité</h5></a>
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        <li><a class="ici" href="sass.html">Accueil</a></li>
                        <li class=""><a href="badges.html">Actualité</a></li>
                        <li class=""><a href="collapsible.html">Adresse</a></li>
                        <li class=""><a href="collapsible.html">Pose ta question</a></li>
                        <li class=""><a href="mobile.html">Forum</a></li>
                        <li class=""><a href="mobile.html">Urgence</a></li>
                        <li class=""><a href="mobile.html">Quiz</a></li>
                    </ul>
                </div>
            </nav>
            <div id="log" class="col s4a">

                        <span><h6 class="logg">Login :</h6>
                        <input id="pseudo" type="text" required placeholder=" Pseudo &#128587;">
                        <input id="mdp" type="text" required placeholder=" Mot de passe &#128272;">
                        <a id="btn_login"class="waves-effect waves-light btn"> login</a><br/>
                        <a id="sign">&#128203; Créer un compte</a>
                        <input id="search" type="search" required placeholder=" Recherche &#128269;"></span>
            </div>
        </header>
            <main class="main">
                <section id="intro">
                </section>

                <section id="categorie" class="row">

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Stress</h1>
                                    </div>
                            <h2 class="iconf100" id="icon"></h2>
                        </article>
                    </a>
                    </div>


                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Estime de soi</h1>
                                    </div>
                            <h2 class="iconf10C" id="icon"></h2>
                        </article>
                    </a>
                    </div>


                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Sexualité</h1>
                                    </div>
                            <h2 class="iconf107" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Boire, fumer, se droguer</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Santé</h1>
                                    </div>
                            <h2 class="iconf105" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Manger - bouger</h1>
                                    </div>
                            <h2 class="iconf108" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Moi, toi et les autres</h1>
                                    </div>
                            <h2 class="iconf10D" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Violence</h1>
                                    </div>
                            <h2 class="iconf10E" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Formation & Travail</h1>
                                    </div>
                            <h2 class="iconf103" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf106" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Religion & Croyance</h1>
                                    </div>
                            <h2 class="iconf102" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s4 c">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Discrimination & Racisme</h1>
                                    </div>
                            <h2 class="iconf101" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                </section>

            </main>

        <footer class="page-footer">
          <div class="container foot">
            <div class="row">
            <div class=" sectionSoutien col s6b">
            <h6 class="row">Avec le soutien de </br></br>
            <span class="lesSoutiens col s12">
                <span class="row" >
                    <img class="col s4" src="../assets/img/mecenes_logo_loro.gif"> 
                    <img class="col s4" src="../assets/img/mecenes_logo_oakfoundation.gif">
                    <span class="col s4"> 
                        <span class="row ccp" >
                        Soutenez CIAO </br>CCP-10-5261-6
                        </span>
                    </span>
                    </span>
                </span>
            </h6>
            <h6 class="row parr">
                PARRAINS : Fondation Otto Beishein - Vaudoise Assurance

            </h6>
            </div>
              <div class="sectionDispo col s2b">
                <h6 class="white-text">Application Ciao.ch disponible sur 
            </br></br>
            <span class="lesSoutiens">
                <a href="https://play.google.com/store/apps/details?id=com.BleuVert.Ciao"><img src="../assets/img/google-play-badge.png"></a>
            </span>
              </br></h6></div>
              <div class="col s4e">
                <h6>
                <span>
                    CIAO c'est...</br>
                    Une association</br>
                    Un site internet créé en 1997, certifié accessible et HON</br>
                    Une collaboration avec 15 institutions partenaires</br>
                    Des sites partenaires : feelok.ch et tschau.ch</br>
                    En 2015 plus de 13 000 visiteurs par semaine en moyenne, 2000 000 de pages vues et 2848 questions posées
                </span>
                </h6>

              </div>
            </div>
          </div>
        </footer>
    </body>
</html>
