<!DOCTYPE html>
<html lang="fr">
    <head>
	<title>Ciao.ch</title>
	<meta charset="utf-8">
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/jsonStorage.js"></script>
	   <script src="../assets/js/packJs.php"></script>
       <link rel="stylesheet" href="../assets/css/materialize.css">
	<link rel="stylesheet" href="../assets/css/main.css">

    </head>
    <body>
        <header>
           <h1 id="logo">Ciao.ch</h1>
                <nav class="menu">
                    <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img class="logo"src="assets/img/logo_ciao_rvb.png"></a>
                    <ul>
                        <li>
                            <a href="index.html">Accueil</a>
                        </li>
                        <li>
                            <a href="#news">Actualité</a>
                        </li>
                        <li>
                            <a href="#adresses">Adresses</a>
                        </li>
                        <li>
                            <a href="#question">Pose ta question</a>
                        </li>
                        <li>
                            <a href="#forum">Forum</a>
                        </li>
                        <li>
                            <a href="#urgence">Urgence</a>
                        </li>
                        <li>
                            <a href="#quiz">Quiz</a>
                        </li>

                    </ul>
                    </div>
                </nav>
               <div id="log">
                        <input id="pseudo" type="text" required placeholder="Pseudo &#128125;">
                        <input id="mdp" type="text" required placeholder="Mot de passe &#128272;">
                        <a href="formInscription.html">Créer un compte</a>
                        <input id="search" type="search" required placeholder="Recherche &#128269;">

            </div>
        </header>
            <main class="main">



                <section id="categories" class="row accueil">
                    <article id="intro">
                    <h3 id="titleIntro">Ciao.ch est destiné à ...</h3>
                    <p id="introDescription">Ciao.ch c'est ....</p>
                    </article>
                </section>

                <section id="contenu" class="content">
                    <nav id ="CategorieListe">
                    </nav>
                </section>

                <section id ="news">

                </section>


                <article id="quiz">

                    <h2>Choisir Catégorie</h2>

                        <section id="categoriesQuiz" class="row catQuiz">
                        </section>

                        <section id="contenu_quizz" class="contentQuiz">
                        </section>

                </article>


            </main>





<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>
