<!DOCTYPE html>
<html lang="fr">
    <head>
	<title>Ciao.ch</title>
	<meta charset="utf-8">
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/jsonStorage.js"></script>
	   <script src="../assets/js/packJs.php"></script>
       <link rel="stylesheet" href="../assets/css/materialize.css">
	<link rel="stylesheet" href="../assets/css/main.css">

    </head>
    <body>
<header class="row">

             <nav class="col s8">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img class="logo"src="../assets/img/logo_ciao_rvb.png"> <h5 class="donde">Sexualité</h5></a>
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        <li><a class="ici" href="sass.html">Accueil</a></li>
                        <li class=""><a href="#news">Actualité</a></li>
                        <li class=""><a href="collapsible.html">Adresse</a></li>
                        <li class=""><a href="collapsible.html">Pose ta question</a></li>
                        <li class=""><a href="mobile.html">Forum</a></li>
                        <li class=""><a href="mobile.html">Urgence</a></li>
                        <li class=""><a href="quiz.html">Quiz</a></li>
                    </ul>
                </div>
            </nav>
            <div id="log" class="col s4a">

                        <span><h6 class="logg">Login :</h6>
                        <input id="pseudo" type="text" required placeholder=" Pseudo &#128587;">
                        <input id="mdp" type="text" required placeholder=" Mot de passe &#128272;">
                        <a id="btn_login"class="waves-effect waves-light btn"> login</a><br/>
                        <a href="formInscription.html" id="sign">&#128203; Créer un compte</a>
                        <input id="search" type="search" required placeholder=" Recherche &#128269;"></span>
            </div>
        </header>
            <main class="main">



                <section id="categories" class="row accueil categories">
                    <article id="intro">
                    <h3 id="titleIntro">Ciao.ch est destiné aux jeunes romands de 11 à 20 ans </h3>
                    <p id="introDescription"> - Il présente des informations rédigées par des experts.</p>
<p>- Il permet de poser des questions anonymement et gratuitement à des spécialistes qui répondent dans les deux jours ouvrables.</p>
<p>- Il donne des informations nécessaires en cas d’urgence et des adresses utiles.</p>
<p>- Il offre un espace interactif de forums, tchats et témoignages.</p>
                    </article>
                </section>

                <section id="contenu" class="content">
                    <nav id ="CategorieListe">
                    </nav>
                </section>

                <section id ="news">

                </section>


                <article id="quiz">

                    <h2>Choisir Catégorie</h2>

                        <section id="categoriesQuiz" class="row catQuiz">
                        </section>

                        <section id="contenu_quizz" class="contentQuiz">
                        </section>

                </article>


            </main>





<footer class="page-footer">
          <div class="container foot">
            <div class="row">
            <div class=" sectionSoutien col s6b">
            <h6 class="row">Avec le soutien de </br></br>
            <span class="lesSoutiens col s12">
                <span class="row" >
                    <img class="col s4" src="../assets/img/mecenes_logo_loro.gif">
                    <img class="col s4" src="../assets/img/mecenes_logo_oakfoundation.gif">
                    <span class="col s4">
                        <span class="row ccp" >
                        Soutenez CIAO </br>CCP-10-5261-6
                        </span>
                    </span>
                    </span>
                </span>
            </h6>
            <h6 class="row parr">
                PARRAINS : Fondation Otto Beishein - Vaudoise Assurance

            </h6>
            </div>
              <div class="sectionDispo col s2b">
                <h6 class="white-text">Application Ciao.ch disponible sur
            </br></br>
            <span class="lesSoutiens">
                <a href="https://play.google.com/store/apps/details?id=com.BleuVert.Ciao"><img src="../assets/img/google-play-badge.png"></a>
            </span>
              </br></h6></div>
              <div class="col s4e">
                <h6>
                <span>
                    CIAO c'est...</br>
                    Une association</br>
                    Un site internet créé en 1997, certifié accessible et HON</br>
                    Une collaboration avec 15 institutions partenaires</br>
                    Des sites partenaires : feelok.ch et tschau.ch</br>
                    En 2015 plus de 13 000 visiteurs par semaine en moyenne, 2000 000 de pages vues et 2848 questions posées
                </span>
                </h6>

              </div>
            </div>
          </div>
        </footer>​
    </body>
</html>

