<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>Ciao.ch</title>
    <meta charset="utf-8">
    <script src="assets/js/packJs.php"></script>
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <link rel="stylesheet" href="../assets/css/main.css">
     <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header class="row">

             <nav class="col s8">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img class="logo"src="../assets/img/logo_ciao_rvb.png"></a>
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        <li><a href="sass.html">Accueil</a></li>
                        <li><a href="badges.html">Actualité</a></li>
                        <li><a href="collapsible.html">Adresse</a></li>
                        <li><a href="collapsible.html">Pose ta question</a></li>
                        <li><a href="mobile.html">Forum</a></li>
                        <li><a href="mobile.html">Urgence</a></li>
                        <li><a href="mobile.html">Quiz</a></li>
                    </ul>
                </div>
            </nav>
            <div id="log" class="col s4">

                        <span><h6 class="logg">Login :</h6>
                        <input id="pseudo" type="text" required placeholder=" Pseudo &#128125;">
                        <input id="mdp" type="text" required placeholder=" Mot de passe &#128272;">
                        <a id="btn_login"class="waves-effect waves-light btn"> Login</a><br/>
                        <a id="sign">&#128203; Créer un compte</a>
                        <input id="search" type="search" required placeholder=" Recherche &#128269;"></span>
            </div>
        </header>
            <main class="main">
                <section id="intro">
                </section>

                <section id="categorie" class="row">

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>


                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>


                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                    <div class="col s3">
                    <a href="">
                            <article class="block">
                                    <div class="tit">
                                        <h1>Argent</h1>
                                    </div>
                            <h2 class="iconf10A" id="icon"></h2>
                        </article>
                    </a>
                    </div>

                </section>

            </main>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>
