<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>Ciao.ch</title>
    <meta charset="utf-8">
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/jsonStorage.js"></script>
       <script src="../assets/js/packJs.php"></script>
       <link rel="stylesheet" href="../assets/css/materialize.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    </head>
    <body>

        <h2>Choisir Catégorie</h2>

            <section id="categoriesQuiz" class="row catQuiz">
            </section>

            <section id="quiz-stress" class="contentQuiz">

            </section>

            <section id="quiz-estime-de-soi" class="contentQuiz">

            </section>
            <section id="quiz-sexualite" class="contentQuiz">

            </section>
            <section id="quiz-boire-fumer-se-droguer" class="contentQuiz">

            </section>
            <section id="quiz-sante" class="contentQuiz">

            </section>
            <section id="quiz-manger-bouger" class="contentQuiz">

            </section>
            <section id="quiz-moi-toi-et-les-autres" class="contentQuiz">

            </section>
            <section id="quiz-violence" class="contentQuiz">

            </section>
            <section id="quiz-formation-travail" class="contentQuiz">

            </section>
            <section id="quiz-argent" class="contentQuiz">

            </section>
            <section id="quiz-religion-croyance" class="contentQuiz">

            </section>
            <section id="quiz-racisme-discrimination" class="contentQuiz">

            </section>



    </body>
</html>
