body, html {
    height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
  font-family:Arial;
}

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


 .icon:before{
content: '\f105';
font-family: "Flaticon";
color:#123552;
font-size: 3em;
}

.icon{

  text-align: center;
}

.row.parr{

  margin-top: -10%;
  height:1em;
}


.container.foot{

  height: 100%;
  background-color: #0580a2;
}

.sectionSoutien{
border-right: solid 1px white ;
height: auto;
margin-top: -11px;
}

.sectionDispo{

border-right: solid 1px white ;
margin-top: -11px;

}

.sectionDispo img{

width:65%;
height:35%;
display: inline;
}

.finan{

  margin-top: -10%;
}
.s6b{
  left:0;
  margin-left: 2%;
  position: absolute;
  color:white;
  width:30%;

}

.s2b{

  width:30%;

}

.s4e{

  width:42%;
  margin-top: -10px;
  position: absolute;
  right: 0;
  margin

}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 4.1rem 0 0.68rem 0 !important;
}

.s4e h6{
font-size: 13px!important;
}

.financeSoutien{

  height:10px;
}

.lesSoutiens{

  display: inline;
  margin-top: 10px;
  position: relative;
}

.soutien{

  display: inline;
}

.sb5 img{

  display: inline;
}

.s2b{

  margin-left: 30%;
}

.s2b img{

  display: inline;
}

.container .row{

margin-left: 0rem !important; 
}


body{
  font-family: Gill Sans, sans-serif;
  background-image: url("../img/ciao_hp2012_visuel.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.block  h1{
  text-align: center;
  color:white;
  font-size: 16px!important;
  margin-top: 16%!important;
  font-weight: lighter;
  line-height: 2.5em;
  padding-top: 4%;
}

.tit{
  margin-top:0;
  background-color:#0580a3;
  height:5%;
}

.block{
  width:15%;
  height:35%;
  background-color: white;
}

.hide-on-med-and-down{
  left:10%;
  height:120px;
  width:90%;
  position: absolute ;
}



.brand-logo{

  left:2%;
}


header{
  background:#0580a3;
  color:white;
  width:100%;
    margin-top:0%;
    padding: 0;
    height:120px;
}

footer{
  position: relative;
  width: 100%;
  bottom:0;
}

.logo{

  margin-top: 10%;
}

.log{
  top:0;
  right:0;
  display: inline;
}

header a {

  color:white;
}

header a:hover {

  color:white;
}

header h1{
  display: inline;
}

.nav-wrapper{

  height:100%;
}

nav {
text-decoration: none;
display: inline!important;
height: 120px !important;
font-size: 15px;
vertical-align: bottom;


}

nav ul {
  text-decoration: none;
  display:inline;
  margin-left: 5%;
  height:120px ! important;




}
nav li a{
  line-height: 74px;
}

}




div #log{
  display: inline !important;
  position: absolute!important;
   top:0;
   right:0;
   margin-right: 1%;
   width:150px !important;
}

#log{
  font-size: 12px;
  margin-top: 1%;
}
.logg{

  display:inline;
}

#btn_login{
  margin-left: 4%;
  height: 2.8em;
  font-size: 10px;
  line-height: 30px!important;
  margin-bottom: 1%;
  width:20%;
  right:0;
  margin-right: 2%;
}

#sign{
  /*text-decoration: underline;*/
  cursor: pointer;
  margin-top: 3%;
}

#sign:hover{

  color:#b0c3c8;
}

#pseudo{
  display: inline !important;
  width:130px;
  top:0;
  right:0;
  background-color: #0698c1;
}

#icon_sign{
  margin-top:%;
}

#mdp{
  margin-left: 4%;
  display: inline !important;
  width:130px;
  background-color: #0698c1;
}

#search{
  display: inline !important;
  width:243px;
  background-color: #0698c1;
  right: 0;
  margin-right :1.8%;
  position:absolute;
  margin-top: 1%;
}
nav ul a {

  padding: 50px 15px !important;
  transition: background-color .0s;
}

.donde{
position: absolute;
bottom:0;
margin-bottom: 3%;
}

.ici {

  background-color: rgba(0, 0, 0, 0.4);
  height:120px;
}

nav li {
  text-decoration: none;
  display:inline;
  margin-left:1%;
  height:300px ! important;
  width:auto !important;
}

.section_nom{

  display: inline;
}

.menu_div{

  display: inline;
}


a{text-decoration: none;}

a:hover{text-decoration: none;}

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
 .iconf108:before{
content: '\f108';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf100:before{
content: '\f100';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf101:before{
content: '\f101';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf102:before{
content: '\f102';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf103:before{
content: '\f103';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf105:before{
content: '\f105';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf106:before{
content: '\f106';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
}
 .iconf107:before{
content: '\f107';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
text-align: center!important;
}
 .iconf10A:before{
content: '\f10a';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
text-align: center!important;
}
 .iconf10C:before{
content: '\f10c';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
text-align: center!important;
}
 .iconf10D:before{
content: '\f10d';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
text-align: center!important;
}
 .iconf10E:before{
content: '\f10e';
font-family: "Flaticon";
color:#123552;
font-size: 1.2em;text-align: center!important;
text-align: center!important;
}
#icon{
    text-align: center!important;
}
body{
    font-family: Gill Sans, sans-serif;
}
.block  h1{
    text-align: center;
    color:white;
    font-size: 15px;
    margin-top: 10%;
    font-weight: lighter;
    line-height: 2.5em;
}
.tit{
    margin-top:0;
    background-color:#0580a3;
    height:5%;
}

footer{

  color:white;
  height: auto;
}

#categorie{
  margin-left: 20%
}

.row .col.s4a {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}


.block{
    width:55%!important;
    height:40%!important;
    background-color: white;
    margin-left:10%;
    margin-top: 10%;
}

.s4.c{

  margin-left:-10%!important;
}