/*********************/
/* body Admin */

body, html {
    height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
  font-family:Arial;
}

.container .row{

margin-left: 0rem !important;
}


body{
  font-family: Gill Sans, sans-serif;
}

/*********************/
/* header Admin*/

header{
  background:#0580a3;
  color:white;
  width:100%;
    margin-top:0%;
    padding: 0;
    height:120px;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
}

.loginAdmTitre {
  margin-top: 0px;
  margin-left: 25px;
  color:rgb(253,254,250);
}

#boutonDeconnexion {
  display: inline-block;
  position: absolute;
  margin-left: 80%;
  margin-top:-80px;
}



/*********************/
/* Login plateforme Admin*/

#loginPlateForme {
  display: inline-block;
  position: relative;
  margin-left: 35%;
  margin-top:5%;
}

.labelLoginAdm {
  font-size: 13px;
}

#mdtOublie {
  display: inline-block;
  margin-top: 30px;
}

input[placeholder="mot de passe"], input[placeholder="nom d'utilisateur ou e-mail"] {
  padding-left: 10px;
  font-size: 13px;
}

a#mdtOublie {
  color:rgb(200,200,200);
  font-size: 13px;
  margin-top: 30px;
  margin-left: 120px;
}

a#mdtOublie:hover{
  color:rgb(5,128,163);
}

@media screen and (max-width: 768px){
  #loginPlateForme {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    margin-top:10%;
  }
}


/*********************/
/* Accueil espace plateforme Admin */

.categoriesAdmList {
cursor: pointer;
}

.boite{
  background-color:rgb(5,128,163);
  height:200px;
  width: 200px;
}

.btn {
  display: inline-block;
  position: relative;
  margin-top: 10%;
  margin-left: 31%;
}

.titreCategorieAdm {
  position: center;
  font-size: 30px;
  text-align: center;
  color:rgb(253,254,250);
  padding-top: 42.5%;
}

.categorieAdm {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


#accueilEspaceAdm {
  display: inline-block;
  position: relative;
  text-align: center;
}

#contenuDiv, #utilisateursDiv{
  text-align: right;
}

#quizDiv, #autreDiv {
  text-align: left;
}

@media screen and (min-width: 768px){
  #accueilEspaceAdm {
  margin-left: 5%;
  margin-right: 5%;
  }
}

@media screen and (min-width: 1170px){
  #accueilEspaceAdm {
  margin-left: 4%;
  }
}

/*********************/
/* Actualite Admin */

@media screen and (min-width: 1170px){
  #categorieAdm {
  margin-left: 160%;
  }
}

#tableActu {
  margin-left: 30%;
  margin-top:10%;

}

#actualiteAdm {
  width: 65%;
}

.buttonAdd {
  display: block;
  position: absolute;
  margin-top:-52.5px;
  margin-left: 80%;
}

#listeActu {
  font-size: 25px;
  color:rgb(5,128,163);
  margin-left: 30%;
}

/*********************/
/* Ajouter actualite Admin */

#ajouterActualiteAdmForm {
  margin-left:50%;
}

#progPubli {
  margin-top: -0px;
}

#choixMedia {
  margin-right: -270px;
}

#titreInput {
  margin-left: 10px;
}

#placeholderDescription, #placeholderArticle {
  padding-left: 10px;
  font-size: 14px;
}



/*********************/
/* Bouton modifié actu */

#modArticle {
  font-size: 14px;
  font-style: normal;
}

/*********************/
/* breadcrumbs */

#breadcrumbs {
  display: inline-block;
  position: relative;
  width: 40%;
  text-align: center;
  left: 20%;
}

#titreAjouterActu {
  font-size: 25px;
  color:rgb(5,128,163);
  margin-left: 20%;
}

#titreVisualisation {
  font-size: 25px;
  color:rgb(5,128,163);
}

#boutonPrecedent {
  display: inline-block;
  position: relative;
  left: 30%;
}

#actualiteInfos {
  display: inline-block;
  position: relative;
  width: 105%;
}

#articleAVisualise {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-left: 50%;
}

