

#contenu {
    margin-left: 300px;
    
}

.contenuStress li{
     list-style-type: circle;
     
}
.contenuStress ul{
    padding-left: 50px;
}
.table-of-contents{
    position: fixed;
}
.table-of-contents a.active {
    font-weight: 700 !important;
}


.card{
    position:relative
}