#question{
    margin-left: 27%;


}

#valide{
text-align: center;
}

body{
  font-family: Gill Sans, sans-serif;
  background-image: none !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


#formquiz{
  width: 800px;
  border:1px outset;
  padding: 10px;
  background-color: #F2F2F2;
}

.buttonQ{
    text-align: right;
}

.button{
    position: relative;
    margin-left: 17%;
    height: 10em;
    font-size: 2em;

}

#backLink{
  margin-top: 35px;
  margin-left: 27%;
}


footer{

  margin-bottom: 0%;
  width: 100%;
  bottom:0;
  position: absolute !important;
  padding-top: 10px;

}

/*.QuizList{
  margin-left: 17%;
}*/


#quizozo{
  padding-bottom: 10px;
  margin-left: 42%;
}

#titleq{
text-align: center;
border-bottom: 3px solid;
padding-bottom: 10px;


}

#lien{
  padding: 4px;
  text-align: center;
}

#contain{
  display: block;
  position: absolute;
  width: 800px;
  margin-left: 20%;
}

#choixQ{
text-align: center;
font-size: 1.6em;
padding-bottom: 6px;

}





@media (max-width: 58em), (max-device-width: 64em) {
#quiz{
    margin-left: 20%;
}


.formquiz{
  width: 180px;
  border:1px outset;
  padding: 10px;
  background-color: #F2F2F2;
}
}






