#question{
    margin-left: 27%;


}

#valide{
text-align: center;
}

body{
  font-family: Gill Sans, sans-serif;
  background-image: none !important;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


#formquiz{
  width: 800px;
  border:1px outset;
  padding: 10px;
  background-color: #F2F2F2;
}

.buttonQ{
    text-align: right;
}

.button{
    position: relative;
    margin-left: 17%;
    height: 10em;
    font-size: 2em;

}

#backLink{
  margin-top: 35px;
  margin-left: 27%;
}



footer{

  margin-bottom: 0%;
  width: 100%;
  bottom:0;
  padding-top: 10px;

}

.s4e{
  width:10% !important;
  margin-top: 110px!important;
  position: absolute!important;
  right: 0!important;

}
/*.QuizList{
  margin-left: 17%;
}*/


#quizozo{
  padding-bottom: 10px;
  margin-left: 42%;
}

.titleq{
border-bottom: 3px solid;
padding-bottom: 3.5%;

}

#lien{
  padding: 4px;
  text-align: center;
}

#contain{
  display: block;
  position: absolute;
  width: 800px;
  margin-left: 17%;
}

.contain2{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 70%;
  margin-left: 12%;
  margin-bottom: 10%;


}



#choixQ{
text-align: center;
font-size: 1.6em;
padding-bottom: 35px;

}




.titreCatQ{
  font-size: 1.4em;
  padding-top: 25%;
  display: block;
  position: relative;


}


.boobs{
}

.blockArticle{
  height: 150px;
  width: 180px;
  background-color: white;
  text-align: center;
  margin-left: 35%;
  display: block;
  position: relative;
}

.blockArticle:hover {
background-color:#0580a3;
color: white;
}

.titreCatQ:hover {
color: white;
}










@media (max-width: 58em), (max-device-width: 64em) {
#quiz{
    margin-left: 20%;
}


.formquiz{
  width: 180px;
  border:1px outset;
  padding: 10%;
  background-color: #F2F2F2;
}
}





