  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



#question{
    margin-left: 27%;
}

#valide{
text-align: center;
}

body{
  font-family: Gill Sans, sans-serif;
  background-image: none !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


.enonce{

}

.btnQ{
  margin-top: 15px;
}


#formquiz{
  width: 54%;
  border:1px outset;
  padding: 10px;
  background-color: #F2F2F2;
}

.buttonQ{
    text-align: right;
}

.button{
    position: relative;
    margin-left: 17%;
    height: 10em;
    font-size: 2em;

}

#backLink{
  margin-top: 35px;
  margin-left: 27%;
}



.Msg{
  width: 100%;

  background-color: #0580a3;
  padding: 50px;
  color:white;
  margin: 0 auto;


}

.infoQuiz{

  width: 54%;
  padding: 10px;

}

.btnContinue{
  color: #0580a3;
  background-color: white;
}


#quizozo{
}


.lienNoXavier{
  display: block;
  position: absolute;
}

#titleq{
text-align: center;
border-bottom: 3px solid;
padding-bottom: 10px;
}

#lien{
  padding: 4px;
  text-align: center;
}

#contain{
  width: 55%;
  margin: 0 auto;

}

#choixQ{
text-align: center;
font-size: 1.6em;
padding-bottom: 6px;

}




@media screen and (max-width: 800px) {

#question{
    background-color: #F2F2F2;
    margin-left: 2%;
}

body{
  background-color: #F2F2F2;
}

#formquiz{
  border:0px outset;

  width: 100%;
  padding: 1px;
  background-color: #F2F2F2;
}

.enonce{
font-size: 2em;
}
}



