

#register{

	text-align: center;
}

.input-field{

	width:30%!important;
}

.datepicker{

	width:auto!important;
}

form label{

	text-align: left;
}


.genre{

	text-align: center;
}

.lab{

	font-size: 20px!important;
	color:#7B3939;
}

.labInt{

	color:#7B3939;
}

.partie1{

	text-align: center;
	margin-left: 27%;

}