@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot');
    src:    url('fonts/icomoon.eot') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




#intro{

  margin-left: 7%!important;
}

.burger{

  display: none;
}

.bigDiv{

  display: none;
}

.menuMobile{

  display: none;
}

.rechercheMobile{

  display: none;
}

.donde{
  position: absolute;
  top:0;
  margin-top: 65px;
}

@media screen and (max-width: 640px) {
   body{
    background-color: white;
    background-image: url("");
  }

  #intro p{

width:80%;
display: inline;
text-align: justify;
}

.donde{
  position: absolute;
  top:0;
  margin-top: 65px;
}



.burger{

  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5%;
  top:20%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}


.burger:after{

  content: "\f109 ";
  font-family: "Flaticon";
  font-size: 30px;
}

.cross{

  display: inline;
  top: 0;
  left: 0;
  margin-left: 5%;
  top:2%;
  font-size: 18px;
  font-family: Arial;
  cursor: pointer;
  z-index: 2;
  position: fixed;
}


.cross:before{

  content: "\ea0f ";
  font-family: "icomoon";
  font-size: 16px;
}

.loupe{

  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  top:20%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.burger:hover, .loupe:hover, .cross:hover{

  color:#890007;
}


.loupe:after{

  content: "\f10b ";
  font-family: "Flaticon";
  font-size: 30px;
}

#log{
  display: none;
}

footer{
  display:none;
}

.page-footer{
  display: none;
}

#icon{

display: none;
}

.menuMobile{
  background-color: grey;
  position: fixed;
  left: 0;
  top:0;
  width:80%;
  height: 100%;
  z-index: 2;
}

.rechercheMobile{
  background-color: grey;
  position: fixed;
  right: 0;
  top:0;
  width:80%;
  height: 100%;
  z-index: 2;
  color:white;
}

.rechercheMobile #search{
  width:101%!important;
  height: 7%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -1%;
  margin-top: -1%;
  font-size: 30px;
  font-family: arial!important;
}

.rechercheMobile #search{
  content: "\f10b ";
  font-family: "Flaticon";
  font-size: 30px;
}

.bigDiv{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  height: 100%;
  z-index: 1;
}

.listeMenu{
  color: white;
  font-size: 25px;
  margin-top: 20%;
  margin-left: 5px;

}

.listeMenu a{

  color: white;

text-decoration: none;
}

.listeMenu a:hover{

text-decoration: none;
color:#890007;
}

.listeMenu li{
border-bottom: solid 1px;
padding-bottom: 5px;
}

.listeMenu li:hover{
color:#890007;
border-bottom: solid 1px #890007;
padding-bottom: 5px;

}




}