@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot');
    src:    url('fonts/icomoon.eot') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.loggEtAutre{
  position:absolute;
  top:0;
  right:0;
  margin-top: 10px;
  margin-right: 7%;
}

.cartIntro{
  margin-right:30px;
}

.test{
  top:0;
  margin-top: 0px;
  width: 100%;
  height:40%;
  background-color: white;
}

#mavideo {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: -13px;
  margin-bottom: -5px;
  width:100%;
  object-fit: cover;
}

.video-container{
  margin-left: 0px;
}

#voilaCiao{
  font-size: 30px;
}

#iconShow{
  font-size: 8em!important;
}

.barTest{
  position: absolute;
  bottom:0;
  margin-bottom: -300px;

}


#intro{

  margin-left: 7%!important;
  text-align: center;
  margin: 0 auto;
    padding-top: 38px;
    width: 80%;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0,0,0,0.9);
    font-weight: normal;
    font-size: 40px!important;
    line-height: 53px;
}

#intro h3{

  font-size: 50px!important;
}

.burger{

  display: none;
}

.bigDiv{

  display: none;
}

.menuMobile{

  display: none;
}

.rechercheMobile{

  display: none;
}

#boutonImpression, #boutondepart, .btn{

  background-color:#AA3939!important;
}

.he1, .he2{

  margin-bottom: 20px;
}

.he3{

  margin-top: 5%;
}

.deco{

  margin-left: 30px;
}



.iconUrgence{
  cursor: pointer;
}


.iconUrgence:before{

  content: "\e9a9\e9db \e9e5 \e9f1 \e9fb \ea01\ea07";
  font-family: "icomoon";
  font-size: 40px;
}


.iconUrgence:hover{

color:#AA3939;
}

footer{

  margin-top: 0px!important;
}

.delindex{
margin-bottom: 0px!important;
}

#ev{
  font-weight: bold;
    color: #AA3939;
}
.slog{

  font-size: 40px;
color: #AA3939;
margin-top: 30px;
    font-weight: normal;
    font-family: open sans;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.card-content, .card-action{

  text-align: center!important;
}

.donde{
  position: absolute;
  top:0;
  margin-top: 65px;
}

@media screen and (max-width: 640px) {
   body{
    background-color: white;
    background-image: url("");
  }

  #intro h3{

  font-size: 20px!important;
  color:#AA3939!important;
  text-shadow: 0 0 0px rgba(0,0,0,0.9);
  font-weight: lighter;


}

.categories{
    max-width: 80%;
    padding-bottom: 80px;
}



.iconUrgence:before{
  font-size: 30px;
}



  #intro p{

width:80%;
display: inline;
text-align: justify;
}

.donde{
  position: absolute;
  top:0;
  margin-top: 65px;
}





.burger{

  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5%;
  top:20%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}


.burger:after{

  content: "\f109 ";
  font-family: "Flaticon";
  font-size: 30px;
}



.cross{
  display: inline;
  top: 0;
  left: 0;
  margin-left: 5%;
  top:2%;
  font-size: 18px;
  font-family: Arial;
  cursor: pointer;
  z-index: 4;
  position: fixed;
  color:white;
}


.cross:before{
  content: "\ea0f ";
  font-family: "icomoon";
  font-size: 16px;
}

.loupe{

  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  top:20%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.burger:hover, .loupe:hover, .cross:hover{

  color:#890007;
}


.loupe:after{

  content: "\e98e ";
  font-family: "icomoon";
  font-size: 30px;
}

#log{
  display: none;
}

footer{
  display:none;
}

.page-footer{
  display: none;
}

#icon{

display: none;
}

.menuMobile{
  background-color: grey;
  position: fixed;
  left: 0;
  top:0;
  width:80%;
  height: 100%;
  z-index: 3;
}

.rechercheMobile{
  background-color: grey;
  position: fixed;
  right: 0;
  top:0;
  width:80%;
  height: 100%;
  z-index: 3;
  color:white;
}

.rechercheMobile #search_menuMobile{
  width:97%!important;
  height: 7%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -1%;
  margin-top: -1%;
  font-size: 30px;
  font-family: arial!important;
}

.rechercheMobile #search_menuMobile{
  content: "\f10b ";
  font-family: "Flaticon";
  font-size: 30px;
}

.bigDiv{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  height: 100%;
  z-index: 2;
}

header{
  z-index: 1;
}

.listeMenu{
  color: white;
  font-size: 25px;
  margin-top: 20%;
  margin-left: 5px;

}

.listeMenu a{

  color: white;

text-decoration: none;
}

.listeMenu a:hover{

text-decoration: none;
color:#890007;
}

.listeMenu li{
border-bottom: solid 1px;
padding-bottom: 5px;
}

.listeMenu li:hover{
color:#890007;
border-bottom: solid 1px #890007;
padding-bottom: 5px;

}

.cartIntro{
  margin-right:4px;
}


.loggEtAutre{
  display:none;
}



}