 body {
    background-image: none !important;
     background-color: #ecf0f1 !important;
  }
  
  .side-nav{
      z-index: 900;
  }

  #sidenav .side-nav{ 
    top:120px !important;
  } 

.side-nav.fixed a.active{
    background-color: #0580a3;
    color:#ecf0f1;
}
.noresult{
    text-align: center;
}

.side-nav {
    padding-bottom: 200px;
}

.side-nav a {
    line-height: 40px;
    height: initial;
}