/*******************************
Card Actualité
******************************/
/*.card .card-image{
    height: 50%;
    
}
.card .card-image .card-title {
    color: #444 !important;
    position: relative !important;
}



.card .card-content{
    height:200px;
    padding: 20px;
    
}*/

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }*/



body{
  background-image: none !important;
  background-color: #ecf0f1 !important;
}
section#news{
    padding-left: 150px;
}

.card .card-image img {
    width: initial !important;
    height:100%;
}

.card .card-content{
    overflow: hidden;
    height:300px;
    width: 100%;
    display: block;

}
.card .card-content .card-title {
    line-height: initial !important; 
    
}

p{
  padding-top: 10px;

}

.card .card-title {
    font-size: 18px;
    font-weight: 700;
}

.card .card-content{
   display: block;
   position: relative !important;
}
   
.card-action{
    padding-top:10px;
    border-top: grey solid 1px;
    height:auto;
    background-size: 30px;
}

.card .card-image  {
 height: 15em;
 overflow: hidden; 
 display: block;
 margin: 0 auto;
}
.card .card-image img{  
    margin: 0 auto;
    
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    color:#2c3e50 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover{
    color:#0580a3 !important;
}

.container.foot{
    height: initial !important;
}

/*******************************
Actualité
******************************/
.fondnoir{
    background: rgba(0,0,0, .8) !important;
    position: fixed;
     top: 0;
    bottom: 0;
    right:0;
    left: 0;
    z-index:903;
    padding: 10px;
    }

.actualite .card{
overflow: auto;
max-height: 100%;
}



/**pousser la date de l'actualité à droite**/
.card-action .dateActu{
    float:right;
} 

.actualite{
    padding: 10px;
    position: fixed;
    right:0;
    left: 0;
    top:140px;
    bottom: 0;
    display: block;
    z-index:904;    
    max-width:50em;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.contenuActu{
    padding: 20px;
}

.imageActu img {   
  
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 70%;
  margin: auto;
  
    
}


.footerActu{
    padding-top:10px;
    margin-top: 20px;
    border-top: grey solid 1px;
    height:auto;
    background-size: 30px;
}
.footerActu img{
    float:right;
    width:2em;
}
