/*******************************
Actualité
******************************/
.fondnoir{
    background: rgba(0,0,0, .8) !important;
    position: fixed;
     top: 0;
    bottom: 0;
    right:0;
    left: 0;
    z-index:3;
    padding: 10px;
   
}

.actualite .card{

}



/**pousser la date de l'actualité à droite**/
.card-action .dateActu{
    float:right;
} 

.actualite{
    
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    display: block;
    z-index:4;    
    max-width:70em;
    margin: 0 auto;
}

.contenuActu{
    padding: 20px;
}

.imageActu img {   
  
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 200px;
    
}


.footerActu{
    padding-top:10px;
    margin-top: 20px;
    border-top: grey solid 1px;
    height:auto;
    background-size: 30px;
}
.footerActu img{
    float:right;
    width:2em;
}

/*******************************
Board Actualités
******************************/


#wrapper {
        display:block;
        max-width: 100em;
  margin: 0 auto;
}

 

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-fill: auto;
}

.pin {  
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/*
@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}*/