<div id="sidenav">
    <!--Colonne pour filtrer les actualités-->
<ul id="slide-out" class="side-nav fixed">
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=0>Afficher tout</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=1>Stress</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=2>Estime de soi</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=3>Sexualité</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=4>Boire, fumer, se droguer</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=5>Santé</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=6>Manger-bouger</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=7>Moi, toi et les autres</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=8>Violence</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=9>Formation et travail</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=10>Argent</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=11>Religion et croyance</a></li>
      <li><a href="#!" class="filter waves-effect waves-teal" data-cat=12>Discrimination et rasicmes</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>

<!--Message si il n'y a pas d'actualité-->
<div id="actualitesList">
    <div class="noresult"><h3>Pas d'actualité pour cette catégorie...</h3></div>
    
<div class="fondnoir"></div>
</div>

