<section>
<form id="formquiz" class="questionsQ">

<div>
    <h4 class="enonce">{{texte}}</h4>



    {{#each reponses}}
        <input id="{{id}}" class="reponse" type="radio" name="reponse" value="{{estJuste}}">
        <label for="{{id}}">{{texte}}</label><br>
    {{/each}}
    <div id="continue" class="buttonQ">



        <a class="waves-effect waves-light btn btnQ">Valider</a>

    </div>

</div>

</form>


<div  class="infoQuiz">
<section class="Msg messageJuste">
    Félicitation ! Tu as répondu la bonne réponse :)
    <p>{{texteJuste}}</p> <!-- Attribut à implémenter dans la base de données -->


    <div class="GetMessage">
    <a class="waves-effect waves-light btn btnQ btnContinue">Continuer</a>
    </div>
</section>

<section class="Msg messageFaux">
    Mauvaise réponse :(

    <p>{{texteFaux}}</p><!-- Attribut à implémenter dans la base de données -->
    <div class="GetMessage">
    <a class="waves-effect waves-light btn btnQ">Continuer</a>
    </div>
</section>
</div>

</section>






