
<div id="questions">

</div>

<div id="quizzEnd">
    <br/>
    <br/>
    <br/>
<div id="finish" class="button">
<input type="button" value="Terminer">
</div>

</div>





<div id="affichageScore">

    <p>Ton score est de <span class="score"></span> sur <span class="total"></span></p>

    <p>Tu as obtenu un badge pour avoir répondu à ce quiz !</p>

    <p>Ce badge a été ajouté à la collection !</p>

    <p>Tu peux consulter ta collection de badge depuis ton profil</p>

    <div id="BadgeQuiz">
    </div>

</div>



<div id="affichageScorePasLoge">

    <p class="textFin">Ton score est de <span class="score"></span> sur <span class="total"></span></p>

    <p class="textFin">Tu peux te connecté pour recevoir un badge à chaque fois que tu réponds à un nouveau quiz</p>
    <div>
        <a href="/login" class="waves-effect waves-light btn"></article><p>Se connecter</p></a>
        <a href="/register" class="waves-effect waves-light btn"></article><p>S'enregistrer</p></a>
    </div>
</div>

<div id="affichageScoreDejaBadge">

    <p class="textFin">Ton score est de <span class="score"></span> sur <span class="total"></span></p>

    <p class="textFin">Tu as déjà reçu ce badge !</p>

    <p class="textFin">Tu peux consulter ta collection de badge depuis ton profil</p>

</div>


