<div class="actualite">
    <div class="card">
        <div class="imageActu">
          <img src="assets/img/{{media}}">

        </div>
        <div class="contenuActu">
            <span class="card-title">{{Title}}</span>
                <p>
                    {{contenu}}
                </p>
                <div class="footerActu">
                 <span class="dateActu">{{date}}</span>
                 <a href="http://www.facebook.com"><img src="assets/img/facebook.png"></a>
                </div>
        </div>
    </div>
</div> 
<div class="fondnoir"></div>